<!-- 底部责申明-->
<meta charset="UTF-8"></meta>
<div id="foot">
	<div class="sInfo">
		Powered by <a href="http://www.59stay.com" target="_blank">宅着玩</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
			href="/aboutUs">关于我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" style="color: red"
			href="http://wpa.qq.com/msgrd?v=3&amp;uin=166768601&amp;site=qq&amp;menu=yes">侵权举报</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank"
			href="http://wpa.qq.com/msgrd?v=3&amp;uin=166768601&amp;site=qq&amp;menu=yes">广告合作</a>
	</div>
	<div  align="center" ><a href="http://www.miitbeian.gov.cn/">陕ICP备19004451号-1</a></div>
	<div class="foot" align="center" style="color: red;">免责申明:本站资源均收集整理于互联网，其著作权归原作者所有，如果有侵犯您权利的资源，请来信告知，我们将及时撤销相应资源</div>
</div>