<meta charset="UTF-8"></meta>
<div id="head">
<ul class="layui-nav" lay-filter="">
			<li class="layui-nav-item"><a href="/">首页</a></li>
			<li class="layui-nav-item"><a href="/gameInformation/index">宅游戏</a></li>
			<li class="layui-nav-item"><a
				href="http://blog.java1234.com/blog/articles/427.html"
				target="_blank">宅电影</a></li>
			<li class="layui-nav-item"><a
				href="http://blog.java1234.com/blog/articles/425.html"
				target="_blank">宅书籍</a></li>
			<li class="layui-nav-item"><a
				href="http://blog.java1234.com/blog/articles/428.html"
				target="_blank">宅软件</a></li>
			<li class="layui-nav-item"><a
				href="/userMessage/index" >留言板</a></li>
			<li class="layui-nav-item"><a
				href="http://www.java1234.com/javaxuexiluxiantu.html"
				target="_blank">关于我们</a></li>
			<li class="layui-nav-item" style="float: right;"><a    onclick="showRegister();return false;" style="padding-left: 8px;padding-right: 8px;  cursor:pointer;" target="_blank">注册</a></li>
			<li class="layui-nav-item" style="float: right;"><a    onclick="showLogin();return false;" style="padding-left: 8px;padding-right: 8px; cursor:pointer;"   target="_blank">登录</a></li>
		</ul>
</div>

