<meta charset="UTF-8"/>
<div id="msPage">
   	<fieldset class="layui-elem-field layui-field-title">
	  <legend>修改软件资源</legend>
	</fieldset>
    <div>
      	<div style="padding-left: 10px">
      		<form class="layui-form" >
				<div class="layui-form-item">
						<div class="layui-upload-list" style="float: left;">
						<label class="layui-form-label">封面：</label>  
						 <img class="layui-upload-img" id="upload_image"  th:src="${software.picture}"></img>
							<p id="demo_text"></p>
						</div>
						<div class="layui-upload" style="float: left; margin-top: 10px;">
							<button type="button" class="layui-btn" id="upload_Btn">上传图片</button>
							<div class="layui-inline layui-word-aux">封面大小限制60KB</div>
						</div>
				</div>

				<div class="layui-form-item">
				    <label class="layui-form-label">资源名称：</label>
				    <div class="layui-input-block">
				      <input type="text" id="name" lay-verify="required"  autocomplete="off" th:value="${software.name}" placeholder="请输入资源名称" class="layui-input" maxlength="15"/>
				    </div>
				 </div>
      			<div class="layui-form-item">
				    <label class="layui-form-label">资源标题：</label>
				    <div class="layui-input-block">
				      <input type="text" id="title"   lay-verify="required"  autocomplete="off" th:value="${software.title}" placeholder="请输入资源标题" class="layui-input"  maxlength="50"/>
				    </div>
				 </div>

				  <div class="layui-form-item">
				    <label class="layui-form-label">大类别：</label>
				    <div class="layui-input-inline">
				       <select id="s_large_category"  disabled="disabled" lay-verify="required" >
								<option value="B">宅软件</option>
					  </select>
				    </div>
				  </div>
				  
				  <div class="layui-form-item">
				    <label class="layui-form-label">软件类别：</label>
				    <div class="layui-input-inline">
				       <select id="s_small_category"  name="dataDictionary.id"  lay-filter="dictionaryName" lay-verify="required" >
								<option value="">请选择软件类别</option>
								<option th:each="softwareDataDictionary:${application.softwareDataDictionaryList}" 
								th:value="${softwareDataDictionary.id}"  th:text="${softwareDataDictionary.dictionaryName}" 
								th:selected="${softwareDataDictionary.id==software.dataDictionary.id}"></option>
						</select>
				    </div>
				  </div>
				<div class="layui-form-item">
					<label class="layui-form-label">积分设置：</label>
					<div class="layui-input-inline" style="width: 120px">
						<select id="integral" lay-verify="required">
							<option value="">请选择积分</option>
							<option value="1">1个积分</option>
							<option value="2">2个积分</option>
							<option value="3">3个积分</option>
							<option value="4">4个积分</option>
							<option value="5">5个积分</option>
							<option value="6">6个积分</option>
							<option value="7">7个积分</option>
							<option value="8">8个积分</option>
							<option value="9">9个积分</option>
							<option value="10">10个积分</option>
						</select>
					</div>
				</div>
				  
				<div class="layui-form-item">
					<label class="layui-form-label">分享方式：</label>
					<div class="layui-input-inline">
						<select id="download_type" name="downloadType" lay-filter="search_type" lay-verify="required" >
							<option value="">请选择分享方式</option>
							<option value="1">百度云盘</option>
							<option value="2">其他</option>
						</select>
					</div>
				</div>
				
				<div class="layui-form-item" id="addr1" style="display: none;">
					<label class="layui-form-label">分享地址：</label>
					<div class="layui-input-inline" style="width: 600px">
						<input type="text" id="download_address1"  
							 autocomplete="off" placeholder="请输入百度云分享地址" class="layui-input" maxlength="350" />
					</div>
					<div class="layui-input-inline" style="width: 100px">
						<input type="text" id="link_pwd" name="linkPwd"
							 autocomplete="off" placeholder="请输入密码"
							class="layui-input" maxlength="4"  
							onKeyUp="value=value.replace(/[\W]/g,'')" />
					</div>
				</div>

				<div class="layui-form-item" id="addr2" style="display: none;">
					<label class="layui-form-label">分享地址：</label>
					<div class="layui-input-block">
						<input type="text" id="download_address2"  
							 autocomplete="off" placeholder="请输入其他分享地址" class="layui-input" maxlength="350" />
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">资源描述：</label>
					<div class="layui-input-block">
						<textarea id="content"  style="display: none;" lay-verify="required" 
							th:utext="${software.resourcesDescribe}"></textarea>
					</div>
				</div>

				<div class="layui-form-item">
				    <div class="layui-input-block">
				      <input type="hidden"  id="picture"  th:value="${software.picture}"></input>
				      <input type="hidden"  th:value="${software.id}" id="software_id"/>
				       <button class="layui-btn" lay-submit="" lay-filter="submit_data">提 交</button>
				       <button class="layui-btn"  onclick="cancel();return false;">取 消</button>
				    </div>
				  </div>
	      		</form>
	      	</div>
	    </div>
</div>
