<meta charset="UTF-8"/>
<div id="sirPage">
	<div class="pLeft">
    		<div class="data_list_condition">
				<div class="data_list_title">
					<i class="layui-icon layui-icon-search"></i> <span class="head">条件检索</span>
				</div>
				<div class="data_search">
					<table width="825">
						<tr>
							<td width="80px" style="padding-top: 0px; padding-bottom: 1px;"><font
								class="stitle">资源类别：</font></td>
							<td>
								<ul>
									<li><a href="/user/software/index" title="全部"><span id="t_0">全部</span></a></li>
									<li th:each="softwareDataDictionary:${application.softwareDataDictionaryList}"> 
									   <a th:href="'/user/software/list/1?typeId='+${softwareDataDictionary.id}" th:title="${softwareDataDictionary.dictionaryName}"> 
									   <span th:id="'t_'+${softwareDataDictionary.id}"  th:text="${softwareDataDictionary.dictionaryName}"></span>
									   </a>
									   
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr style="border-top: dashed 1px #e6e6e6; height: 90px;">
							<td width="80px" style="padding-top: 0px;"><font
								class="stitle">关键词：</font></td>
							<td>
								<form action="/user/software/search" onsubmit="return submitData()">
									<div class="layui-row">
										<div class="layui-col-md10">
											<input type="text" id="q" name="q" autocomplete="off"
												th:value="${q}" class="layui-input" style="height: 30px" />
										</div>
										<div class="layui-col-md2">
											 <input type="submit"  
											 class="layui-btn layui-btn-radius layui-btn-sm" 
											 value="搜 索" style="width: 100px;margin-left: 10px;"/>
										</div>
									</div>
								</form>
							</td>
						</tr>
					</table>
					<div></div>
				</div>
			</div>
 
  	   <div class="data_list_resources">
				<div class="data_list_title">
    			<i class="layui-icon layui-icon-template-1"></i>
				<span class="head" >搜索&nbsp;"<font color="red" th:text="${q}"></font>"&nbsp;的结果(总共搜索到&nbsp;<font color="red" th:text="${resultTotal}"></font>&nbsp;条记录)</span>
    		</div>
    		<div class="data_result">
    			<div th:if="${resultTotal==0}" align="center" style="padding-top: 20px">未查询到结果，请换个关键词试试看！或者在<a style="color: red;" href="/user/userMessage/index">留言板</a>吐槽你想找的资源</div>
    			<ul th:if="${resultTotal!=0}">
    				<li th:each="hotSoftware:${hotSoftwareList}" style="margin-left:5px; margin-top:10px; height: 105px;">
    				<a  th:href="'/user/software/listDetails/'+${hotSoftware.id}"><img th:src="${hotSoftware.Picture}"  style="width:90px; height:105px;"></img></a>
    				    <div style="position:relative;left:100px;bottom: 105px; width:670px;">
    					<span class="summary"><a  th:href="'/user/software/listDetails/'+${hotSoftware.id}"   target="_blank" th:utext="${hotSoftware.Name}"></a></span>
					    <span class="summary" th:utext="'摘要: '+${hotSoftware.resourcesDescribe}"></span>
					  	<!-- <span class="summary" th:utext="${#strings.length(hotSoftware.resourcesDescribe)>100} ? '摘要: '+${#strings.substring(hotSoftware.resourcesDescribe,0,100)}+'...':'摘要: '+ ${hotSoftware.resourcesDescribe}+'...'"></span>
					  	 -->
					  	<span class="summary"><a style="color: green" target="_blank" th:href="'/user/software/listDetails/'+${hotSoftware.id}" th:text="'http://www.59stay.com/user/'+${hotSoftware.id}"></a>&nbsp;&nbsp;&nbsp;&nbsp;<font th:text="'发布日期：'+${#dates.format(hotSoftware.CreationTime,'yyyy-MM-dd')}"></font></span>
    				    </div>
    				</li>
    			</ul>
    		</div>
			<div align="center" th:utext="${pageCode}"> </div>
    	</div>
    </div>
    
		<!--热门资源 -->
		<div class="pRight">
		    <!--签到处-->
		    <div class="data_list"  th:include="common/signIn::#sI"></div> 
			<div class="data_list">
				<div class="data_list_title">
					<i class="layui-icon layui-icon-fire"></i> <span class="head">热门软件</span>
				</div>
				<div class="datas">
					<ul>
						<li th:each="softwareBrowseFrequency,iterStat:${application.softwareBrowseFrequencyList}">
							<em th:text="${iterStat.index}+1" ></em> 
							<a  style="margin-left: 10px;" target="_blank" th:href="'/user/software/listDetails/'+${softwareBrowseFrequency.id}"
							th:title="${softwareBrowseFrequency.name}" th:text="${softwareBrowseFrequency.name}"> </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
</div>
