.w1170{
	width: 1170px;
	margin: 0px auto;
	overflow: hidden;
}
.pLeft{
	width: 860px;
	float: left;
}

.listUserDownLoad{
	padding: 10px
}


.listUserDownLoad .UserDownLoad{
	padding-top: 10px
}
