<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
<meta name="renderer" content="webkit"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/static/css/gameInformation.css" />
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/common.js"></script>
<script th:inline="javascript">
layui.use([ 'element','laypage','form' ], function() {
	  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
	  var $ = layui.jquery; // 使用jquery
	  var laypage = layui.laypage;
	  var tMenu=[[${session.tMenu}]];
	  $("#"+tMenu).css("color","red");
	
});

/*<![CDATA[*/
 $(document).ready(function(){
	 $.post("/user/signIn/loadSignIn",{},function(result){   
		 if(result.success){
			 if(result.alreadySignI!=null){
				 $("#sign_in_div").empty();
				 $("#sign_in_div").append("<div style='padding-top: 10px;padding-bottom: 10px'>您今天第<font color='red'>"+result.alreadySignI.signInRanking+"</font>个签到成功；<br>签到时间:<font >"+(result.alreadySignI.signInTime).substring(0,19)+"</font></div><p style='padding-bottom: 10px'>今日已经有<font color='red'>"+result.signInNumber+"</font>位大佬签到了！</p>"); 
			 }else{
				 $("#sign_in_div").empty();
				 $("#sign_in_div").append("<a onclick='signIn()'><img style='padding-top: 10px; padding-bottom:10px' alt='用户签到处' src='/static/images/sign.jpg' width='200' height='50'></img></a><p style='padding-bottom: 10px'>今日已经有<font color='red'>"+result.signInNumber+"</font>位大佬签到了！</p>");
					 
			 }
		 }else{
			 $("#sign_in_div").empty();
			 $("#sign_in_div").append("<a onclick='signIn();return false;'><img style='padding-top: 10px; padding-bottom:10px' alt='用户签到处' src='/static/images/sign.jpg' width='200' height='50'></img></a><p style='padding-bottom: 10px'>今日已经有<font color='red'>"+result.signInNumber+"</font>位大佬签到了！</p>");
		 }
	},"json"); 
}); 

function signIn(){
	if([[${session.userInfo}]]==null){//未登录
		layer.msg("大佬登录后才能签到哟！");
		return;
	}else{
		   $.post("/user/signIn/loginSignIn",{},function(result){   
					 $("#sign_in_div").empty();
					 $("#sign_in_div").append("<div style='padding-top: 10px;padding-bottom: 10px'>您今天第<font color='red'>"+result.alreadySignI.signInRanking+"</font>个签到成功；<br>签到时间:<font >"+(result.alreadySignI.signInTime).substring(0,19)+"</font></div><p style='padding-bottom: 10px'>今日已经有<font color='red'>"+result.signInNumber+"</font>位大佬签到了！</p>"); 
					 layer.msg("大佬您今天已签到成功了哟！");
			},"json"); 
	}
}

function submitData(){
	var q=$("#q").val();
	if(q==""){
		layer.msg("请输入关键字！");
		$("#q").focus();
		return false;
	}
}

/*]]>*/
</script>
</head>

<body>
	<!-- 导航区 -->
<div class="w1170" style="padding-bottom: 10px; overflow: visible;" th:include="common/head::#head"></div>

	<!-- 内容展示区 -->
	<div class="w1170">
		<div class="pLeft">
			<div class="data_list_condition">
				<div class="data_list_title">
					<i class="layui-icon layui-icon-search"></i> <span class="head">条件检索</span>
				</div>
				<div class="data_search">
					<table width="825">
						<tr>
							<td width="80px" style="padding-top: 0px; padding-bottom: 1px;"><font
								class="stitle">资源类别：</font></td>
							<td>
								<ul>
									<li><a href="/user/gameInformation/index" title="全部"><span id="t_0">全部</span></a></li>
									<li th:each="gameDataDictionary:${application.gameDataDictionaryList}"> 
									   <a th:href="'/user/gameInformation/list/1?gameTypeId='+${gameDataDictionary.id}" th:title="${gameDataDictionary.dictionaryName}"> 
									   <span th:id="'t_'+${gameDataDictionary.id}"  th:text="${gameDataDictionary.dictionaryName}"></span>
									   </a>
									   
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr style="border-top: dashed 1px #e6e6e6; height: 90px;">
							<td width="80px" style="padding-top: 0px;"><font
								class="stitle">关键词：</font></td>
							<td>
								<form action="/user/gameInformation/search" onsubmit="return submitData()">
									<div class="layui-row">
										<div class="layui-col-md10">
											<input type="text" id="q" name="q" autocomplete="off"
												class="layui-input" style="height: 30px" />
										</div>
										<div class="layui-col-md2">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit"
												class="layui-btn layui-btn-radius layui-btn-sm"
												value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " />
										</div>
									</div>
								</form>
							</td>
						</tr>
					</table>
					<div></div>
				</div>
			</div>

			<!-- 资源列表区 -->
			<div class="data_list_resources">
				<div class="data_list_title">
					<i class="layui-icon layui-icon-template-1"></i> <span class="head">游戏资源列表</span>
				</div>
				<div class="datas imageDatas">
					<ul class="imageUl">
						<!-- <li class="imageLi"><a target="_blank" href="#" title="毒液">
								<img class="indexFilm" src="https://tu.66vod.net/2018/4544.jpg"></img>
								<p>电影名称</p>
						</a></li> -->

						<li th:each="gameInfo:${indexGameInformationList}" class="imageLi"><a
							target="_blank" th:href="'/user/gameInformation/listDetails/'+${gameInfo.id}"
							th:title="${gameInfo.gameName}"> 
							<img th:src="${gameInfo.gamePicture}"></img>
								<p th:text="${#strings.length(gameInfo.gameName)>9} ? ${#strings.substring(gameInfo.gameName,0,9)} : ${gameInfo.gameName}"></p>
						</a></li>

					</ul>
				</div>
				<!-- 分页样式 -->
				<div align="center" th:utext="${pageCode}"> </div>
			</div>
		</div>
	   
		<!--热门资源 -->
		<div class="pRight">
		    <!--签到处-->
		    <div class="data_list"  th:include="common/signIn::#sI"></div> 
			<div class="data_list">
				<div class="data_list_title">
					<i class="layui-icon layui-icon-fire"></i> <span class="head">热门游戏</span>
				</div>
				<div class="datas">
					<ul>
						<li th:each="gameBrowseFrequency,iterStat:${application.gameBrowseFrequencyList}">
							<em th:text="${iterStat.index}+1" ></em> 
							<a  style="margin-left: 10px;" target="_blank" th:href="'/user/gameInformation/listDetails/'+${gameBrowseFrequency.id}"
							th:title="${gameBrowseFrequency.gameName}" th:text="${gameBrowseFrequency.gameName}"> </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="w1170" th:include="common/link::#link"></div>

	<div class="w1170" style="padding-top: 40px"
		th:include="common/foot::#foot"></div>
</body>
</html>
