<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${title}+'-宅着玩'"></title>
<link rel="stylesheet" href="/static/layui/css/layui.css"></link>
<link rel="stylesheet" href="/static/css/personalCenter.css" />
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/  
layui.use(['element','form','table'], function(){
	      var form=layui.form;
		  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
		  $ = layui.jquery; // 使用jquery
		  table = layui.table;
		  table.render({
		     elem: '#gameListTable'
		    ,width:960
		    ,limits:[10,20,30]
		    ,url:'/user/gameInformation/userGameList'
		    ,cols: [[
		       {type:'numbers',width:40}
		      ,{field:'gameName', width:260, title: '游戏名称',templet:formatName}
		      ,{field:'dataDictionary', width:100, title: '所属类别',templet:formatGameTypeName}
		      ,{field:'integral', width:60, title: '积分',align:'center'}
		      ,{field:'auditStatus', width:120, title: '审核状态',align:'center',templet:formatAuditStatus}
		      ,{field:'gameCreationTime', width:200, title: '发布日期', sort: true,align:'center'}
		      ,{field:'action', width:170, title: '操作',align:'center',templet:formatAction}
		    ]]
		    ,page: true
		  });
		  
	});
	
function formatName(data){
	if(data.dataDictionary==2){//2审核通过
		return data.gameName;
	}else{
		return data.gameName;
	}
}


function formatGameTypeName(data){
	if(data.dataDictionary==null){
		return "";
	}else{
		return data.dataDictionary.dictionaryName;			
	}
}
 
function formatAuditStatus(data){
	if(data.auditStatus==1){
		return "待审核";
	}else if(data.auditStatus==2){
		return "<font color=blue>审核通过</font>";
	}else if(data.auditStatus==3){
		return "<a href='#' title='审核未通过原因："+data.reason+"''><font color=red>审核未通过</font></a><br/>";
	}
}

function formatAction(data){
	return "<button class='layui-btn layui-btn-normal layui-btn-xs' onclick='modify("+data.gameId+")'><i class='layui-icon layui-icon-edit'></i>编辑</button><button class='layui-btn layui-btn-warm layui-btn-xs' onclick='del("+data.gameId+")'><i class='layui-icon layui-icon-delete' ></i>删除</button>";
}

function modify(id){
	window.location.href="/personalCenter/toModifyGameResource/"+id;
}


function del(id){
	layer.confirm('您确定要删除这条记录吗？', {
      title:"系统提示"
	  ,btn: ['确定','取消'] //按钮
	}, function(){
		layer.closeAll('dialog');
		$.post("/user/gameInformation/delete",{"id":id},function(result){
			if(result.success){
				layer.msg("删除成功！");
				table.reload("gameListTable",{});
			}else{
				layer.msg("删除失败，请联系管理员！");
			}
		},"json");
	}, function(){
	  
	});
}


/*]]>*/
</script>

</head>
<body >
	<div class="w1170" th:include="common/head::#head"
		style="padding-bottom: 10px; overflow: visible;"></div>
	<div class="w1170">
		<div style="float: left; width: 200px"
			th:include="user/personalCenter/leftMenu::#lm"></div>
		<div style="float: right; width: 970px"
			th:include="user/game/page/gameResourceManagementPage::#grmPage"></div>

	</div>
	
	
</body>
</html>