<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${title}+'-宅着玩'"></title>
<link rel="stylesheet" href="/static/layui/css/layui.css"></link>
<link rel="stylesheet" href="/static/css/personalCenter.css" />
<style type="text/css">
.layui-input-block{
margin-left:120px;
}
.layui-form-label {
width: 90px;
}
.layui-upload-img{width:180px; height: 230px; margin: 0 10px 10px 0;}

</style>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/common.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/  
	layui.use(['element','form','table'], function(){
	      var form=layui.form;
		  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
		  $ = layui.jquery; // 使用jquery
		  table = layui.table;
		  table.render({
			     elem: '#InvalidLinkListTable'
			    ,width:960
			    ,limits:[10,20,30]
			    ,url:'/user/invalidLink/userInvalidLinkList'
		    	,where:{
		    		useful:false
				}
			    ,cols: [[
			       {type:'numbers',width:40}
			      ,{field:'invalidName',  title: '资源名称' ,width:220}
			      ,{field:'largeCategory',  title: '资源类别' ,width:120 ,templet:formatLargeCategory}
			      ,{field:'largeCategory',  title: '失效链接类型' ,width:171 ,templet:formatDownloadType}
			      ,{field:'creationTime', width:200, title: '发布日期', sort: true,align:'center'}
			      ,{field:'action', width:150, title: '操作',align:'center',templet:formatAction}
			    ]]
			    ,page: true
			  });
         });
         
   function formatLargeCategory(data){
		if(data.largeCategory=="A"){
			return "宅游戏";
		}else if(data.largeCategory=="B"){
			return "宅电影";
		}else if(data.largeCategory=="C"){
			return "宅软件";
		}else{
			return "";
		}
	}
   
   function formatDownloadType(data){
		if(data.downloadType==1){
			return "百度云盘地址";
		}else if(data.downloadType==2){
			return "其他地址";
		}else{
			return "";
		}
	}
   function formatAction(data){
		return "<button class='layui-btn layui-btn-normal layui-btn-xs' onclick='modifyLink("+data.id+","+data.downloadType+")'><i class='layui-icon layui-icon-edit'></i>修复链接</button>";
	}
   
   /**
    * 修改失效资源链接
    * @param id
    */
   function modifyLink(id,downloadType){
   	layer.open({
   		  type: 2,
   		  title: '修复资源分享链接',
   		  area: ['700px', '200px'],
   		  content: '/user/common/modifyShareLink.html?id='+id+'&downloadType='+downloadType//iframe的url
   		});
   }

/*]]>*/
	
</script>
</head>


<body>
<div class="w1170" style="padding-bottom: 10px; overflow: visible;" th:include="common/head::#head"></div>
<div class="w1170">
		<div style="float: left; width: 200px"
			th:include="user/personalCenter/leftMenu::#lm"></div>
		 <div style="float: right; width: 970px"
			th:include="user/personalCenter/page/InvalidLinkManagementPage::#ilmPage">
		</div>
	</div>
</body>
</html>