<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title >个人中心首页-宅着玩</title>
<link rel="stylesheet" href="/static/layui/css/layui.css"></link>
<link rel="stylesheet" href="/static/css/personalCenter.css" />
<link rel="stylesheet" href="/static/css/user.css" />

<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/common.js"></script>
</head>
<body>
<div class="w1170" style="padding-bottom: 10px; overflow: visible;" th:include="common/head::#head"></div>
<div class="w1170">
	<div style="float: left;width: 200px" th:include="user/personalCenter/leftMenu::#lm"></div>
    <div style="float: right;width: 960px" th:include="user/personalCenter/page/personalDataPage::#pdPage"></div>
</div>

<script type="text/javascript">
	/*<![CDATA[*/  
	layui.use(['element','form','layedit','upload'], function(){
	      var form=layui.form;
		  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
		  var $ = layui.jquery,upload = layui.upload;
		  var layedit=layui.layedit;
		  
		  //普通图片上传
		  var uploadInst = upload.render({
		     elem: '#upload_user_head'
		    ,url: '/user/userInformation/uploadUserHead'
		    ,size: 60 //限制文件大小，单位 KB
		    ,before: function(obj){
		      //预读本地文件示例，不支持ie8
		      obj.preview(function(index, file, result){
		        $('#upload_image').attr('src', result); //图片链接（base64）
		      });
		    }
		    ,done: function(res){
		      //如果上传失败
		      if(res.code > 0){
		        return layer.msg('上传失败');
		      }else{
		    	  $("#head_picture").attr("value",res.data.src);//图片路径
		      }
		      //上传成功
		    }
		    ,error: function(){
		      //演示失败状态，并实现重传
		      var demoText = $('#demo_text');
		      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
		      demoText.find('.demo-reload').on('click', function(){
		        uploadInst.upload();
		      });
		    }
		  });
		  
	});
	
	 /**修改个人信息*/
 	function submitData(){
 		var user_id= $("#user_id").val();
 		var head_picture= $("#head_picture").val();
 		var user_phone_number= $("#user_phone_number").val();
 		var user_idcard= $("#user_idcard").val();
 		var sex = $("input[name='sex']:checked").val();
 		$.post("/user/userInformation/modifyUserInfo",{id:user_id,userHead:head_picture,userPhoneNumber:user_phone_number,userIdcard:user_idcard,sex:sex},function(result){
			  if(result.success){
				 alert("修改成功,重新登录后即可生效");
			  }
		  },"json").error(function(){
			  alert('修改失败,请联系客服(QQ:166768601)');
		  });
	}
	/*]]>*/
	
</script>
</body>
</html>