<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${title}+'-宅着玩'"></title>
<link rel="stylesheet" href="/static/layui/css/layui.css"></link>
<link rel="stylesheet" href="/static/css/personalCenter.css" />
<style type="text/css">
.layui-input-block{
margin-left:120px;
}
.layui-form-label {
width: 90px;
}
.layui-upload-img{width:180px; height: 230px; margin: 0 10px 10px 0;}

</style>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/  
layui.use(['element','form','table'], function(){
      var form=layui.form;
	  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
	  $ = layui.jquery; // 使用jquery
	  table = layui.table;
	  table.render({
		     elem: '#userReviesListTable'
		    ,width:960
		    ,limits:[10,20,30]
		    ,url:'/user/userReviews/userReviewsList'
	    	,where:{
	    		useful:false
			}
		    ,cols: [[
		       {type:'numbers',width:40}
		      ,{field:'resourceName',  title: '资源名称' ,width:150}
		      ,{field:'largeCategory',  title: '资源类别',width:100,templet:formatLargeCategory}
		      ,{field:'reviewsContent',  title: '评论内容',width:220}
		      ,{field:'',  title: '评论用户', width:100,templet:formatUserName}  
		      ,{field:'reviewsTime', width:171, title: '评论日期', sort: true,align:'center'}
		      ,{field:'action', width:170, title: '操作',align:'center',templet:formatAction}
		    ]]
		    ,page: true
		  });
     });
function formatUserName(data){
		return data.userInformation.userName;			
}     
function formatLargeCategory(data){
	if(data.largeCategory=="A"){
		return "宅游戏";
	}else if(data.largeCategory=="B"){
		return "宅电影";
	}else if(data.largeCategory=="C"){
		return "宅软件";
	}else{
		return "";
	}
}
function formatAction(data){
	return "<button class='layui-btn layui-btn-warm layui-btn-xs' onclick='del("+data.id+")'><i class='layui-icon layui-icon-delete' ></i>删除</button>";
}

function del(id){
	layer.confirm('您确定要删除这条记录吗？', {
      title:"系统提示"
	  ,btn: ['确定','取消'] //按钮
	}, function(){
		layer.closeAll('dialog');
		$.post("/user/userReviews/delete",{"id":id},function(result){
			if(result.success){
				layer.msg("删除成功！");
				table.reload("userReviesListTable",{});
			}else{
				layer.msg("删除失败，请联系管理员！");
			}
		},"json");
	}, function(){
	  
	});
}


/*]]>*/
	
</script>
</head>


<body>
<div class="w1170" style="padding-bottom: 10px; overflow: visible;" th:include="common/head::#head"></div>
<div class="w1170">
		<div style="float: left; width: 200px"
			th:include="user/personalCenter/leftMenu::#lm"></div>
		  <div style="float: right; width: 970px"
			th:include="user/personalCenter/page/userReviewsManagementPage::#urmPage">
		</div> 
	</div>
</body>
</html>