<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${title}+'-宅着玩'"></title>
<link rel="stylesheet" href="/static/layui/css/layui.css"></link>
<link rel="stylesheet" href="/static/css/personalCenter.css" />
<style type="text/css">
.layui-input-block{
margin-left:120px;
}
.layui-form-label {
width: 90px;
}
.layui-upload-img{width:180px; height: 230px; margin: 0 10px 10px 0;}

</style>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/  
$(document).ready(function(){  
    	  $("#li5").addClass("layui-this");
     });           
layui.use(['element','form','table'], function(){
      var form=layui.form;
	  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
	  $ = layui.jquery; // 使用jquery
	  table = layui.table;
});

function detail(isNotExist,resourceId,largeCategory){
	if(isNotExist==2){
		layer.msg('该资源已经被删除！')
	    return false;
	}
 	if(largeCategory=="A"){
		 	layer.open({
		   		  type: 2,
		   		  title: '资源详细信息',
		   		  area: ['45%','70%'],
		   		  content: '/admin/gameInformation/getGameInformation?id='+resourceId
		   		});  
		   }
	if(largeCategory=="B"){
		 	layer.open({
		   		  type: 2,
		   		  title: '资源详细信息',
		   		  area: ['45%','70%'],
		   		 content: '/admin/software/getSoftware?id='+resourceId
		   		});  
		   } 
	} 

/*]]>*/
	
</script>
</head>


<body>
<div class="w1170" style="padding-bottom: 10px; overflow: visible;" th:include="common/head::#head"></div>
<div class="w1170">
		<div style="float: left; width: 200px"
			th:include="user/personalCenter/leftMenu::#lm"></div>
		  <div style="float: right; width: 970px"
			th:include="user/personalCenter/page/userDownloadRecordManagementPage::#udrmPage">
		</div> 
	</div>
</body>
</html>