<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${title}+'-宅着玩'"></title>
<link rel="stylesheet" href="/static/layui/css/layui.css"></link>
<link rel="stylesheet" href="/static/css/personalCenter.css" />
<style type="text/css">
.layui-input-block{
margin-left:120px;
}
.layui-form-label {
width: 90px;
}
.layui-upload-img{width:120px; height: 160px; margin: 10px 10px 10px 0;}
</style>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/  
  $(document).ready(function(){
		  var downloadType = [[${software.downloadType}]];
		  var downloadAddress = [[${software.downloadAddress}]];
		  var linkPwd = [[${software.linkPwd}]];
		  $("#integral").val([[${software.integral}]]);
		  $("#download_type").val(downloadType);
		  if(downloadType=="1"){
			  $("#addr1").show(); 
              $("#download_address1").val(downloadAddress);
	    	  $("#link_pwd").val(linkPwd); 
		  }else{
			  $("#addr2").show(); 
              $("#download_address2").val(downloadAddress); 
		  } 
			  
	    });

	layui.use(['element','form','layedit','upload'], function(){
	      var form=layui.form;
		  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
		  var $ = layui.jquery,upload = layui.upload;
		  var layedit=layui.layedit;
		  var index=layedit.build('content',{
			  tool: ['left', 'center', 'right']
		  });
});
	
	
/*]]>*/
	
</script>
</head>
<body>
      <div style="padding-left: 10px">
      		<form class="layui-form" >
				<div class="layui-form-item">
						<div class="layui-upload-list" style="float: left;">
							 <label class="layui-form-label">软件封面：</label>  
							 <img class="layui-upload-img" id="upload_image"  th:src="${software.picture}"></img>
						</div>
						
				</div>

				<div class="layui-form-item">
				    <label class="layui-form-label">软件名称：</label>
				    <div class="layui-input-block">
				      <input  style="width: 400px" type="text"     th:value="${software.name}"  class="layui-input" disabled="disabled"/>
				    </div>
				 </div>
      			<div class="layui-form-item">
				    <label class="layui-form-label">软件标题：</label>
				    <div class="layui-input-block">
				      <input style="width: 400px" type="text"   th:value="${software.title}"   class="layui-input"  disabled="disabled"/>
				    </div>
				 </div>
				 
               <div class="layui-form-item">
					<label class="layui-form-label">积分：</label>
					<div class="layui-input-inline" style="width: 190px">
						<select id="integral"   disabled="disabled">
							<option value="1">1个积分</option>
							<option value="2">2个积分</option>
							<option value="3">3个积分</option>
							<option value="4">4个积分</option>
							<option value="5">5个积分</option>
							<option value="6">6个积分</option>
							<option value="7">7个积分</option>
							<option value="8">8个积分</option>
							<option value="9">9个积分</option>
							<option value="10">10个积分</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">软件类别：</label>
					<div class="layui-input-inline">
						<select name="dataDictionary.id"    disabled="disabled">
							<option
								th:each="softwareDataDictionary:${application.softwareDataDictionaryList}"
								th:value="${softwareDataDictionary.id}"
								th:text="${softwareDataDictionary.dictionaryName}"
								th:selected="${softwareDataDictionary.id==software.dataDictionary.id}"></option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">分享方式：</label>
					<div class="layui-input-inline">
						<select id="download_type"  lay-filter="search_type" disabled="disabled">
							<option value="">请选择分享方式</option>
							<option value="1">百度云盘</option>
							<option value="2">其他</option>
						</select>
					</div>
				</div>
				
				<div class="layui-form-item" id="addr1" style="display: none;">
					<label class="layui-form-label">分享地址：</label>
					<div class="layui-input-inline"  >
						<input type="text" id="download_address1" disabled="disabled"  class="layui-input" />
					</div>
					<div class="layui-input-inline" style="width: 90px">
						<input type="text" id="link_pwd" name="linkPwd" class="layui-input" maxlength="4" disabled="disabled"/>
					</div>
				</div>

				<div class="layui-form-item" id="addr2" style="display: none;">
					<label class="layui-form-label">分享地址：</label>

					<div class="layui-input-block">
						<input type="text" id="download_address2" style="width: 400px" class="layui-input"  disabled="disabled"/>
					</div>
				</div>


	            <div class="layui-form-item">
					<label class="layui-form-label">软件描述：</label>
					<div class="layui-input-block" style="width: 600px">
						<textarea id="content"   style="display: none;"  th:utext="${software.resourcesDescribe}" disabled="disabled"></textarea>
					</div>
				</div>

	      		</form>
	      	</div>
</body>
</html>