<meta charset="UTF-8"/>
<div id="gip">
		<div class="pLeft">
			<div class="data_list_condition">
				<div class="data_list_title">
					<i class="layui-icon layui-icon-search"></i> <span class="head">条件检索</span>
				</div>
				<div class="data_search">
					<table width="825">
						<tr>
							<td width="80px" style="padding-top: 0px; padding-bottom: 1px;"><font
								class="stitle">资源类别：</font></td>
							<td>
								<ul>
									<li><a href="/user/gameInformation/index" title="全部"><span id="t_0">全部</span></a></li>
									<li th:each="gameDataDictionary:${application.gameDataDictionaryList}"> 
									   <a th:href="'/user/gameInformation/list/1?gameTypeId='+${gameDataDictionary.id}" th:title="${gameDataDictionary.dictionaryName}"> 
									   <span th:id="'t_'+${gameDataDictionary.id}"  th:text="${gameDataDictionary.dictionaryName}"></span>
									   </a>
									   
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr style="border-top: dashed 1px #e6e6e6; height: 90px;">
							<td width="80px" style="padding-top: 0px;"><font
								class="stitle">关键词：</font></td>
							<td>
								<form action="/user/gameInformation/search" onsubmit="return submitData()">
									<div class="layui-row">
										<div class="layui-col-md10">
											<input type="text" id="q" name="q" autocomplete="off"
												class="layui-input" style="height: 30px" />
										</div>
										<div class="layui-col-md2">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit"
												class="layui-btn layui-btn-radius layui-btn-sm"
												value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " />
										</div>
									</div>
								</form>
							</td>
						</tr>
					</table>
					<div></div>
				</div>
			</div>

			<!-- 资源列表区 -->
			<div class="data_list_resources">
				<div class="data_list_title">
					<i class="layui-icon layui-icon-template-1"></i> <span class="head">游戏资源列表</span>
				</div>
				<div class="datas imageDatas">
					<ul class="imageUl">
						<!-- <li class="imageLi"><a target="_blank" href="#" title="毒液">
								<img class="indexFilm" src="https://tu.66vod.net/2018/4544.jpg"></img>
								<p>电影名称</p>
						</a></li> -->

						<li th:each="gameInfo:${indexGameInformationList}" class="imageLi"><a
							target="_blank" th:href="'/user/gameInformation/listDetails/'+${gameInfo.id}"
							th:title="${gameInfo.gameName}"> 
							<img th:src="${gameInfo.gamePicture}"></img>
								<p th:text="${#strings.length(gameInfo.gameName)>8} ? ${#strings.substring(gameInfo.gameName,0,8)} : ${gameInfo.gameName}"></p>
						</a></li>

					</ul>
				</div>
				<!-- 分页样式 -->
				<div align="center" th:utext="${pageCode}"> </div>
			</div>
		</div>
	   
		<!--热门资源 -->
		<div class="pRight">
		    <!--签到处-->
		    <div class="data_list"  th:include="common/signIn::#sI"></div> 
			<div class="data_list">
				<div class="data_list_title">
					<i class="layui-icon layui-icon-fire"></i> <span class="head">热门游戏</span>
				</div>
				<div class="datas">
					<ul>
						<li th:each="gameBrowseFrequency,iterStat:${application.gameBrowseFrequencyList}">
							<em th:text="${iterStat.index}+1" ></em> 
							<a  style="margin-left: 10px;" target="_blank" th:href="'/user/gameInformation/listDetails/'+${gameBrowseFrequency.id}"
							th:title="${gameBrowseFrequency.gameName}" th:text="${gameBrowseFrequency.gameName}"> </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
