<meta charset="UTF-8"/>
<div id="mgrPage">
   	<fieldset class="layui-elem-field layui-field-title">
	  <legend>修改游戏资源</legend>
	</fieldset>
    <div>
      	<div style="padding-left: 10px">
      		<form class="layui-form" action="/user/gameInformation/update" method="post">
				<div class="layui-form-item">
				<input id="game_picture" type="hidden" value="" name="gamePicture"></input>
						<div class="layui-upload-list" style="float: left;">
						<label class="layui-form-label">游戏封面：</label>  
						 <img class="layui-upload-img" id="uploadImage" th:src="${gameInformation.gamePicture}"></img>
							<p id="demoText"></p>
						</div>
						<div class="layui-upload" style="float: left; margin-top: 10px;">
							<button type="button" class="layui-btn" id="uploadGameBtn">上传图片</button>
							<div class="layui-inline layui-word-aux">封面大小限制60KB</div>
						</div>
				</div>

				<div class="layui-form-item">
				    <label class="layui-form-label">游戏名称：</label>
				    <div class="layui-input-block">
				      <input type="text" id="game_name" name="gameName" lay-verify="required" autocomplete="off" th:value="${gameInformation.gameName}" placeholder="请输入游戏名称" class="layui-input" maxlength="15"/>
				    </div>
				 </div>
      			<div class="layui-form-item">
				    <label class="layui-form-label">游戏标题：</label>
				    <div class="layui-input-block">
				      <input type="text" id="game_title" name="gameTitle" lay-verify="required" autocomplete="off" th:value="${gameInformation.gameTitle}" placeholder="请输入游戏标题" class="layui-input"  maxlength="50"/>
				    </div>
				 </div>

				<div class="layui-form-item">
					<label class="layui-form-label">积分设置：</label>
					<div class="layui-input-inline" style="width: 120px">
						<select id="points" name="points" lay-verify="required">
							<option value="">请选择积分</option>
							<option value="1">1个积分</option>
							<option value="2">2个积分</option>
							<option value="3">3个积分</option>
							<option value="4">4个积分</option>
							<option value="5">5个积分</option>
							<option value="6">6个积分</option>
							<option value="7">7个积分</option>
							<option value="8">8个积分</option>
							<option value="9">9个积分</option>
							<option value="10">10个积分</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
				    <label class="layui-form-label">游戏类别：</label>
				    <div class="layui-input-inline">
				      <select  name="dataDictionary.dictionaryId" lay-verify="required">
				        <option value="">请选择游戏类别</option>
				        <option th:each="gameDataDictionary:${application.gameDataDictionaryList}" th:value="${gameDataDictionary.dictionaryId}" th:text="${gameDataDictionary.dictionaryName}" th:selected="${gameDataDictionary.dictionaryId==gameInformation.dataDictionary.dictionaryId}"></option>
				      </select>
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">游戏描述：</label>
				    <div class="layui-input-block">
				    	<textarea id="content" name="gameDescribe" style="display: none;" th:utext="${gameInformation.gameDescribe}"></textarea>
				    </div>
				 </div>
				 <div class="layui-form-item"   >
				   <div class="layui-inline">
				      <label class="layui-form-label" >分享资源一：</label>
				      <div class="layui-input-inline" style="width: 500px">
				        <input type="text" id="game_download_address1" name="gameDownloadAddress1" lay-verify="url" autocomplete="off" th:value="${gameInformation.gameDownloadAddress1}" placeholder="请输入百度云分享地址" class="layui-input" maxlength="350" />
				      </div>
				      <div class="layui-input-inline" style="width: 100px">
				        <input type="text" id="link_pwd" name="linkPwd" autocomplete="off" th:value="${gameInformation.linkPwd}" placeholder="请输入密码" class="layui-input" maxlength="4"/>
				      </div>
				    </div>
				 </div>
				 
				 <div class="layui-form-item">
				   <div class="layui-inline">
				      <label class="layui-form-label" >分享资源二：</label>
				      <div class="layui-input-inline" style="width: 500px">
				        <input type="text" id="game_download_address2" name="gameDownloadAddress2" lay-verify="url" autocomplete="off" th:value="${gameInformation.gameDownloadAddress2}" placeholder="请输入其他分享地址" class="layui-input"  maxlength="350"/>
				      </div>
				    </div>
				 </div>
				 
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <input type="hidden" name="gameId" th:value="${gameInformation.gameId}"/>
				      <button class="layui-btn" lay-submit="" lay-filter="gameSubmit">立即提交</button>
				    </div>
				  </div>
	      		</form>
	      	</div>
	    </div>
</div>
